@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Rajdhani', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Julius Sans One', sans-serif;
}
span{
    font-family: 'Open Sans Condensed';
}
a{
    font-family: 'Open Sans Condensed';
}
*{
    box-sizing: border-box;
}
.none{
    display: none;
}

.adm-desktop{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.adm-desk{
    display: flex;
    flex-direction: row;
}
.menu-adm{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-adm{
    width: 100%;
}
.nav-adm ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.nav-adm ul li{
    display: block;
}
.nav-adm ul li a{
    display: block;
    padding: 0.4rem 0rem;
    font-size: 25px;
    background-color: whitesmoke;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    transition: 0.7s;
    color:rgb(30,30,30);
}
.nav-adm ul li a:hover{
    background-color: white;
}
.menu-block{
    width: 100%;
    background-color: white;
    height:500px;
    overflow-y: scroll;
	margin-bottom: 25px;
}
.header-menu{
    background-color: whitesmoke;
    border-bottom: 5px solid white;
    display: flex;
    flex-direction: row;
}
.hm1{
    width: 40%;
    padding-left: 1rem;
}
.hm2{
    width: 60%;
    text-align: right;
    padding-right: 2rem;
}
.hm1 h4{
    font-size: 20px;
    letter-spacing: 10px;
    color:rgb(240, 178, 46);
}
.hk{
    font-family: 'Rajdhani', sans-serif;
    color:rgb(30,30,30);
}
.hm2 img{
    position: relative;
    top:12px;
}
#wh{
    background-color: white;
}
.article-adm{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.article-adm .divi{
    width: 33.33%;
    text-align: center;
    background-color: white;
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    margin-right: 5px;
    padding-bottom: 0.6rem 0rem;
}
.article-adm .divi a img{
    background-color: rgb(251, 251, 251);
    padding: 0.5rem;
    border-radius: 100%;
}
.article-adm .divi a img:hover{
    background-color: whitesmoke;
}
.usr-adm{
    width: 25%;
    border:1px solid red;
    align-items: center;
}
.foto-adm img{
    width:100px;
    height: 100px;
    border-radius: 100%;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}


.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper { width: 980px; margin: 30px auto; position: relative;}
.counter { background-color: rgb(250,250,250); padding: 20px 0; border-radius: 5px;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }



/*Text Editor*/
@import url(https://fonts.googleapis.com/css?family=Asap:400,700);
 @import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin-ext,latin);
 *, *:before, *:after {
	 box-sizing: border-box;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: greyscale;
}
 body {
	 background: #e9f0f4;
}
 .newPost {
	 width: 100%;
	 min-width: 480px;
	 background: #fff;
	 font-family: 'Asap', sans-serif;
}
 .newPost h3 {
	 margin: 0px 0px 20px 0px;
	 font-size: 30px;
	 color: #2e3641;
}
 .newPost input[type="text"] {
	 padding-left: 15px;
	 width: 100%;
	 height: 45px;
	 border: 1px solid #c1cfd9;
	 box-shadow: inset 0px 0px 3px #c1cfd9;
	 outline: none;
	 font-family: 'Bree Serif', serif;
	 font-size: 24px;
	 color: #c1cfd9;
	 margin-bottom: 20px;
}
 .newPost .toolbar {
     background: #2e3641;
     width: 100%;
}
 .newPost .toolbar button {
	 float: left;
	 width: 45px;
	 height: 45px;
	 background: #2e3641;
	 border: none;
	 border-right: 1px solid #434f5f;
	 color: #c1cfd9;
	 outline: none;
}
 .newPost .toolbar button:hover {
	 background: #394250;
	 color: #b1c3cf;
}
 .newPost .toolbar .customSelect {
	 float: right;
	 position: relative;
}
 .newPost .toolbar .customSelect select {
	 appearance: none;
	 border-radius: 0;
	 border: none;
	 background: #2e3641;
	 height: 45px;
	 padding-left: 10px;
	 padding-right: 25px;
	 color: #c1cfd9;
	 border-left: 1px solid #434f5f;
	 outline: none;
	 font-weight: bold;
	 cursor: pointer;
}
 .newPost .toolbar .customSelect select:hover {
	 background: #394250;
	 color: #b1c3cf;
}
 .newPost .toolbar .customSelect:after {
	 content: "\f0dc";
	 font-family: FontAwesome;
	 color: #c1cfd9;
	 position: absolute;
	 right: 10px;
	 top: 15px;
}
 .newPost .toolbar:after {
	 content: '';
	 display: block;
	 clear: both;
}
 .newPost .editor {
	 min-height: 300px;
	 width: 100%;
	 resize: none;
	 border: 1px solid #c1cfd9;
	 box-shadow: inset 0px 0px 3px #c1cfd9;
	 outline: none;
	 padding: 15px;
	 margin-bottom: 20px;
	 position: relative;
}
 .newPost .editor .saved {
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 display: block;
	 width: 45px;
	 height: 45px;
	 line-height: 45px;
	 text-align: center;
	 color: #fff;
	 text-transform: uppercase;
	 background: #c1cfd9;
	 font-weight: bold;
	 border-top-left-radius: 15px;
}
 .newPost .buttons {
	 float: right;
}
 .newPost .buttons button {
	 float: left;
	 width: 120px;
	 height: 45px;
	 border: none;
	 color: #fff;
	 text-transform: uppercase;
	 outline: none;
	 margin-right: 20px;
	 font-weight: bold;
	 background: #c1cfd9;
	 text-decoration: none;
}
 .newPost .buttons button:last-of-type {
	 margin-right: 0px;
	 background: #f97e76;
}
 .newPost .buttons button:last-of-type:hover {
	 background: #fa958e;
}
 .newPost .buttons button:active {
	 box-shadow: inset 0px 4px rgba(0, 0, 0, 0.05);
}
 .newPost .buttons button:hover {
	 background: #d1dbe3;
}
 .newPost .buttons:after {
	 content: '';
	 display: block;
	 clear: both;
}
 .newPost:after {
	 content: '';
	 display: block;
	 clear: both;
}
/******/
 


/*CSS TAB NAGVIGATION*/

.hide {
    display: none;
}
.container {
    width: 100%;
    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.28);
}
.navigation li {
    list-style: none;
    width: 33.3333333333%;
    float: left;
    text-align: center;
}
.navigation li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 15px 0;
    background: #fff;
    color: #444;
    font-weight: 300;
    border: 3px solid #f5f5f5;
}
.navigation li a.default {
    background: #f5f5f5;
    color: rgba(27, 108, 158, 0.6);
}
.wrapper-tabs {
    width: 100%;
    float: left;
    background: #fff;
    padding: 40px;
    color: #9c9c9c;
    font-size: 14px;
    line-height: 25px;
}
.tab-item {
    width: 100%;
}

@media only screen and (max-width: 760px) {
    body{
        background-image: url("../Images/bg1.jpg");
    }
    .adm-desktop{
        display: none;}
    .adm-mobile{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.459);
    }
    .aff-error{
        width: 85%;
        background-color: white;
        border-bottom:1px solid rgba(0,0,0,0.1);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
        padding: 1rem 0.8rem;
        text-align: center;
    }
    .none{
        display: block;
    }
    .aff-error h1{
        margin: 0;
        font-size: 70px;
        letter-spacing: 5px;
        color:rgb(240, 178, 46);
        font-family: 'Rajdhani', sans-serif;
    }
    .aff-error a{
        text-decoration: none;
        border:1px solid rgb(30,30,30);
        color:rgb(30,30,30);
        padding: 0.5rem 1.5rem;
        border-radius: 20px;
        transition: 0.5s;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .aff-error .fg{
        color:rgba(101, 69, 170, 0.883);
        font-weight: bold;
    }
    .aff-error div{
        margin-bottom: 1rem;
    }
    .aff-error a:hover{
        background-color: rgb(30,30,30);
        color:white
    }
}